@use "@/mixins"

#ma-sudoku-killer > .header > div
  padding: .25rem 3rem
  @include mixins.border(top bottom)

  & > div
    height: 2.375rem
    padding: 0 2rem
    line-height: 2.375rem
    position: relative
    @include mixins.border(null, dashed)

    &::before
      display: block
      content: '45'
      font-size: .875rem
      font-weight: initial
      line-height: 1.125rem
      position: absolute
      top: 0
      left: .25rem
