@use 'sass:color'

#ma-color-picker .module .hsv-wheel
  position: relative

  > div, > svg
    width: 15rem
    height: 15rem
    position: absolute
    top: calc(50% - 7.5rem)
    left: calc(50% - 7.5rem)

  > div
    background: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00)

    &, &::after
      border-radius: 50%
      box-sizing: border-box
      border: 1px solid var(--color-base)

    &::after
      content: ''
      position: absolute
      top: calc(1.5rem - 2px)
      left: calc(1.5rem - 2px)
      width: calc(12rem + 2px)
      height: calc(12rem + 2px)
      background: var(--color-base-tint-quarter)

  > svg
    z-index: 1

    .dark
      fill: var(--color-back)

    .light
      fill: var(--color-base)

    .stroke-light
      fill: none
      stroke: var(--color-base)
