@use '@/mixins'

#ma-color-picker .module .title
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  font-weight: bold
  font-size: 1rem
  @include mixins.noselect()

  @each $extra-size in 1, 2, 3, 4
    &.sz#{$extra-size}
      font-size: 1rem + .25rem * $extra-size

  &.left
    justify-content: flex-start
    padding-left: .5rem
    text-align: left

  &.right
    justify-content: flex-end
    padding-right: .5rem
    text-align: right
