#ma-ansi:not(.light-theme)
  --color-base: hsl(40, 5%, 80%)
  --color-base-tint-half: hsl(40, 5%, 23%)
  --color-base-tint: hsl(40, 5%, 35%)
  --color-base-tint-strong: hsl(40, 5%, 57%)
  --color-red: hsl(10, 40%, 55%)
  --color-green: hsl(114, 40%, 55%)
  --color-blue: hsl(210, 40%, 55%)

#ma-ansi.light-theme
  --color-base: hsl(40, 5%, 20%)
  --color-base-tint-half: hsl(40, 5%, 80%)
  --color-base-tint: hsl(40, 5%, 73%)
  --color-base-tint-strong: hsl(40, 5%, 50%)
  --color-red: hsl(10, 50%, 33%)
  --color-green: hsl(114, 50%, 33%)
  --color-blue: hsl(210, 50%, 33%)
