#ma-datetime:not(.light-theme)
  --color-back: hsl(40, 5%, 12%)
  --color-base: hsl(40, 5%, 80%)
  --color-base-tint-half: hsl(40, 5%, 23%)
  --color-base-tint: hsl(40, 5%, 35%)
  --color-base-tint-strong: hsl(40, 5%, 57%)
  --color-red: hsl(10, 40%, 55%)
  --color-yellow: hsl(60, 40%, 55%)
  --color-green: hsl(114, 40%, 55%)
  --color-cyan: hsl(180, 40%, 55%)
  --color-blue: hsl(210, 40%, 55%)

#ma-datetime.light-theme
  --color-back: white
  --color-base: hsl(40, 5%, 20%)
  --color-base-tint-half: hsl(40, 5%, 80%)
  --color-base-tint: hsl(40, 5%, 73%)
  --color-base-tint-strong: hsl(40, 5%, 50%)
  --color-red: hsl(10, 50%, 40%)
  --color-yellow: hsl(60, 50%, 40%)
  --color-green: hsl(114, 50%, 40%)
  --color-cyan: hsl(180, 50%, 40%)
  --color-blue: hsl(210, 50%, 40%)
